@using QLMygear.Models
@model List<Giohang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    .title {
        text-align: center;
        background-color: #FFF;
        font-weight: bold;
        padding: 5px;
        border-top: hidden !important;
    }

    .submit {
        background-color: #FFF;
        font-weight: 600;
        color: black;
        margin-left: 15px;
        margin-right: 15px;
        border: 2px solid #000;
        border-radius: 5px;
        box-shadow: inherit;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

        .submit:hover {
            background-color: rgba(220, 220, 220, 1);
            color: #000;
        }

    .Delete-btn {
        text-decoration: none;
    }

    .fa {
        color: #000;
    }

    body {
        margin-top: 150px;
    }

    .title-box {
        margin-bottom: 20px;
    }

    .details {
        margin-top: 10px;
    }

    .TongSoluong {
        margin: 10px;
        padding: 5px 10px;
        border-bottom: hidden !important;
    }

    .TongTien {
        padding-right: 10px;
    }

    .Delete-btn {
        width: 80px;
    }

    .Details-btn {
        width: 80px;
    }

    .Soluong {
        width: 50px;
        text-align: center;
    }

    .dongia {
        padding: 10px;
    }

    .thanhtien {
        padding: 10px;
    }

    .tensp {
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .XoaAll {
        padding: 25px 10px 25px;
        border-top: hidden !important;
        border-bottom: hidden !important;
    }

    table {
    }

    .box {
        border-bottom: none;
        border-top: none;
    }

    main .tensp {
        border-right: none;
    }

    td {
        border-left: hidden !important;
        border-right: hidden !important;
        padding: 3px 7px 3px 7px;
    }

    .abc {
        color: red;
    }
</style>
<body>
    <table align="center" border="1">
        <tr class="title">
            <td>Mã SP</td>
            <td>Ảnh SP</td>
            <td>Tên SP</td>
            <td>SL</td>
            <td>Size</td>
            <td>Đơn giá</td>
            <td>Thành tiền</td>
            <td width="50px"></td>
            <td width="50px"></td>
            <td width="50px"></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="main" style="text-align:center; font-weight: bold;border-right:none ">
                <td>@item.iMaSP</td>
                <td><img src="~/image/@item.sAnhbia" width="200px" height="100px" /></td>
                <td class="tensp">@item.sTenSP</td>
                @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @MaSP = item.iMaSP }))
                {
                    <td>
                        <input class="Soluong" type="number" min="1" name="txtSoLuong" value="@item.iSoluong" style="text-align:center; border:none" />
                    </td>
                    <td class="dongia">@String.Format("{0:0,0}", item.dDongia) VNĐ</td>
                    <td class="thanhtien">@String.Format("{0:0,0}", item.dThanhTien) VNĐ</td>
                    <td class="Details-btn"><a href="@Url.Action("Details", "Mygear", new { id = item.iMaSP})" style="text-decoration:none; color:black;max-width:20px">Chi tiết</a></td>
                    <td class="Delete-btn"><a href="@Url.Action("XoaGioHang", "GioHang", new { @MaSP = item.iMaSP })"><i class="fa fa-trash-o fa-2x"></i></a></td>
                    <td><input class="submit" type="submit" value="Cập nhật" /></td>
                }
            </tr>
        }
        <tr class="box" style="text-align:right; font-weight: bold; color:crimson;">
            <td class="TongSoluong" colspan="10">Số lượng: @ViewBag.TongSL</td>
        </tr>
        <tr class="box" style="text-align:right; font-weight: bold; color:crimson;">
            <td class="TongTien" colspan="10">Tổng tiền: @String.Format("{0:0,0}", ViewBag.TongTien) VNĐ</td>
        </tr>
        <tr class="box" style="font-weight:bold; ;padding-left:10px">
            <td class="XoaAll" colspan="5" style="text-align: left">
                <a class="submit" href="@Url.Action("XoaTatCaGioHang", "GioHang")">Xóa Giỏ Hàng</a>
            </td>
            <td class="XoaAll" colspan="5" style="text-align: right">
                <a class="submit" href="@Url.Action("DatHang", "GioHang")">Đặt hàng</a>
            </td>
        </tr>
    </table>
</body>


