@using QLMygear.Models;
@{
    ViewBag.Title = "DetailsPC";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<body>
    <div class="content">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="chitiet" style="width: 1200px">
                <h2 class="product_name">
                    <strong>@Model.TenSP</strong>
                </h2>
                <div class="scroll-table">
                    <table border="1" cellspacing="0" style="background-color:#ffffff; border-collapse:collapse; border-spacing:0px; border:1px solid #eeeeee; box-sizing:border-box; color:#333333; font-family:Roboto,sans-serif; font-size:13px; line-height:20px; margin-bottom:20px; margin-left:auto; margin-right:auto; max-width:100%; min-width:500px; width:100%" class="mce-item-table table table-bordered">
                        <tbody style="box-sizing: border-box;">
                            <tr style="box-sizing:border-box" class="row-info">
                                <td style="background-color:#f7f7f7 !important; border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:22.1614%">
                                    <span style="font-size:16px">
                                        <a title="Mainboard" href="https://localhost:44357/Mygear/SPtheoLSP/3">Mainboard</a>
                                    </span>
                                </td>
                                <td style="border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:535px">
                                    <span style="font-size:16px">@Model.TT1</span>
                                </td>
                                <td style="border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:112px">
                                    <span style="font-size:16px">36 Tháng</span>
                                </td>
                            </tr>
                            <tr style="box-sizing:border-box" class="row-info">
                                <td style="background-color:#f7f7f7 !important; border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:22.1614%">
                                    <span style="font-size:16px">
                                        <a title="CPU" href="https://localhost:44357/Mygear/SPtheoLSP/2">CPU</a>
                                    </span>
                                </td>
                                <td style="border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:535px">
                                    <span style="font-size:16px">@Model.TT2</span>
                                </td>
                                <td style="border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:112px">
                                    <span style="font-size:16px">36 Tháng</span>
                                </td>
                            </tr>
                            <tr style="box-sizing:border-box" class="row-info">
                                <td style="background-color:#f7f7f7 !important; border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:22.1614%">
                                    <span style="font-size:16px">
                                        <a title="RAM" href="https://localhost:44357/Mygear/SPtheoLSP/4">RAM</a>
                                    </span>
                                </td>
                                <td style="border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:535px">
                                    <span style="font-size:16px">@Model.TT3</span>
                                </td>
                                <td style="border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:112px">
                                    <span style="font-size:16px">36 Tháng</span>
                                </td>
                            </tr>
                            <tr style="box-sizing:border-box" class="row-info">
                                <td style="background-color:#f7f7f7 !important; border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:22.1614%">
                                    <span style="font-size:16px"><a title="SSD" href="https://localhost:44357/Mygear/SPtheoLSP/7">Card màn hình</a></span>
                                </td>
                                <td style="border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:535px">
                                    <span style="font-size:16px">@Model.TT5</span>
                                </td>
                                <td style="border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:112px">
                                    <span style="font-size:16px">36 Tháng</span>
                                </td>
                            </tr>
                            <tr style="box-sizing:border-box" class="row-info">
                                <td style="background-color:#f7f7f7 !important; border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:22.1614%">
                                    <span style="font-size:16px"><a title="SSD" href="https://localhost:44357/Mygear/SPtheoLSP/5">SSD</a></span>
                                </td>
                                <td style="border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:535px">
                                    <span style="font-size:16px">@Model.TT4</span>
                                </td>
                                <td style="border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:112px">
                                    <span style="font-size:16px">36 Tháng</span>
                                </td>
                            </tr>
                            <tr style="box-sizing:border-box" class="row-info">
                                <td style="background-color:#f7f7f7 !important; border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:22.1614%">
                                    <span style="font-size:16px">
                                        <a title="PSU" href="https://localhost:44357/Mygear/SPtheoLSP/6">PSU</a>
                                    </span>
                                </td>
                                <td style="border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:535px">
                                    <span style="font-size:16px">@Model.TT7</span>
                                </td>
                                <td style="border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:112px">
                                    <span style="font-size:16px">36 Tháng</span>
                                </td>
                            </tr>
                            <tr style="box-sizing:border-box" class="row-info">
                                <td style="background-color:#f7f7f7 !important; border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:22.1614%">
                                    <span style="font-size:16px">
                                        <a title="Case&nbsp;" href="https://localhost:44357/Mygear/SPtheoLSP/8h">HDD&nbsp;</a>
                                    </span>
                                </td>
                                <td style="border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:535px">
                                    <span style="font-size:16px">@Model.TT8</span>
                                </td>
                                <td style="border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:112px">
                                    <span style="font-size:16px">36 Tháng</span>
                                </td>
                            </tr>
                            <tr style="box-sizing:border-box" class="row-info">
                                <td style="background-color:#f7f7f7 !important; border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:22.1614%">
                                    <span style="font-size:16px">
                                        <a title="Case&nbsp;" href="https://localhost:44357/Mygear/SPtheoLSP/8h">Vỏ Case&nbsp;</a>
                                    </span>
                                </td>
                                <td style="border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:535px">
                                    <span style="font-size:16px">@Model.TT6</span>
                                </td>
                                <td style="border-color:#eeeeee; border-style:solid; border-width:1px; box-sizing:border-box; padding:8px; vertical-align:top; width:112px">
                                    <span style="font-size:16px">24 Tháng</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>