@using QLMygear.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SANPHAM>
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- ***** New - in Start ******-->
<body>
    <link rel="stylesheet" type="text/css" href="~/css/Slidebar.css">
    <!-- ***** Main Banner Area Start ***** -->
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <img src="~/image/" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="~/image/" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="~/image/" style="width:100%">
        </div>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <section class="section" id="products">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <h2>Sản phẩm mới nhất</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                @if (Model != null)
                {
                    foreach (var sp in Model)
                    {
                        <div class="col-lg-4">
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="@Url.Action("Details", "Mygear", new { id = sp.MaSP})"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="@Url.Action("Details", "Mygear", new { id = sp.MaSP})"><i class="fa fa-star"></i></a></li>
                                            <li><a href="@Url.Action("Details", "Mygear", new { id = sp.MaSP})"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <a href="@Url.Action("Details", "Mygear", new { id = sp.MaSP})">
                                        <img src="~/image/@sp.Anhbia" alt="@sp.TenSP">
                                    </a>
                                </div>
                                <div class="down-content">
                                    <h3 style="margin-top:5px; font-size: 20px;">@sp.TenSP</h3>
                                    <span>@String.Format("{0:0,0}", sp.Giaban) VNĐ</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

        </div>

        <div class="col-lg-12">
            <div class="pagination">
                <ul>
                    <li>
                        Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
                    </li>
                    <ul>
                        <li>
                            @foreach (var nh in Model)
                            {
                                <a href="@Url.Action("SPtheoLSP", "Mygear", new { id = nh.MaLSP})">
                                    @nh.TenSP
                                </a>
                            }
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </section>
    <!-- ***** New - in End ******-->
</body>
<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 1500); // Change image every 2 seconds
    }
</script>
