@using QLMygear.Models
@using PagedList.Mvc;
@model PagedList.PagedList<QLMygear.Models.SANPHAM>
@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .section {
        padding-left: 10px;
        padding-right: 10px;
    }

    h2 {
        text-align: center;
        font-weight: bold;
        padding-top: 120px;
    }

    td {
        font-size: 14px;
    }
</style>

<body>
    <section class="section" id="products">
        <h2>QUẢN LÝ THÔNG TIN SẢN PHẨM</h2>
        <p>
            @Html.ActionLink("Create New", "ThemSP")
        </p>
        <table class="table">
            <tr>
                <th>Tên sản phẩm</th>
                <th>Giá bán</th>
                <th style="width:250px">Mô tả</th>
                <th>Ảnh sản phẩm</th>


                <th>Mã loại</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Giaban)
                    </td>
                    <td>
                        @Truncate(item.Mota, 100)
                    </td>
                    <td>
                        <img src="@Url.Content("~/image/" + item.Anhbia)" height="100px" width="200px" />
                    </td>
                    <td>
                        <a>@Html.DisplayFor(modelItem => item.MaLSP)</a>
                    </td>

                    <td>
                        @Html.ActionLink("Sửa", "SuaSP", new { id = item.MaSP }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.MaSP }) |
                        @Html.ActionLink("Xóa", "XoaSP", new { id = item.MaSP })
                    </td>
                </tr>
            }
        </table>
        <div class="col-lg-12">
            <div class="pagination">
                <ul>
                    <li>
                        Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
                    </li>
                    <li>
                        @Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page }))
                    </li>
                </ul>
            </div>

        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="~/image/logo.png" alt="hexashop ecommerce templatemo" width="195" height="59px">
                        </div>
                        <p style="font-size: 14px; padding-top: 4px ; color: white">
                            <br>
                            Công ty TNHH Thương mại Mygear
                            Email: dungpubg113@gmail.com
                            SDT: 0394468285
                            <br>
                        </p>

                        <p style="font-size: 14px; padding-top: 4px; color: white">
                            <b>SHOWROOM HCM</b> (Làm việc từ 8h00 - 20h00) <br>
                            - Địa chỉ: 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM<br>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Sản phẩm &amp; Thương hiệu</h4>
                    <ul>
                        <li><a href="#">Jordan</a></li>
                        <li><a href="#">Nike</a></li>
                        <li><a href="#">Adidas</a></li>
                        <li><a href="#">Puma</a></li>
                    </ul>
                </div>

                <div class="col-lg-3">
                    <h4>Hỗ trợ &amp; Thông tin</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Tracking ID</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>
                            Copyright © 2022 HPT Team Co., Ltd. All Rights Reserved.
                        </p>
                        <br /><p>Design by: HPT TEAM</p>
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100010513748418"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/_huynhh_/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
